<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>The Perihelion Group</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
    .navbar-inverse{
      background-color: #003300;
      border-radius: 0;
      margin-bottom: 2em;
    }
    .navbar-inverse .navbar-brand{
      font-size: 200%;
      margin: 0.5em 0;
    }
    </style>
  </head>
  <body>
  <nav class="navbar navbar-inverse"><a class="navbar-brand" href="/">The Perihelion Group</a></nav>
    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
    <header>
    </header>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </script>
  </body>
  <footer>
  </footer>
</html>