<html>
    <head>
        <title> The Perihelion Group</title>
    </head>
    <body>
        <h1> Welcome to To The Perihelion Group!</h1>
        If you've been here before, please log in.  If you haven't please register.
        <br>
        <form action="/logintemplate">
            <input type="submit" name="currentuser" value="Log In">
        </form>
        <br>
        <form action="/registrationtemplate">
            <input type="submit" name="newuser" value="Register">
        </form>        
    </body>
</html>