{% extends "base.html" %}
{% block content %}
<style>
    .container-fluid {
        text-align: center;
    }
</style>
<h1> Welcome to To The Perihelion Group!</h1>
<h3>If you've been here before, please log in.  If you haven't please register.</h3>
<br>
<div class="row">
    <div class="col-md-1 col-md-offset-5">
        <form action="/logintemplate">
            <input class="btn btn-default btn-lg" type="submit" name="currentuser" value="Log In">
            </form>
    </div>
    <div class="col-md-1">
        <form action="/registrationtemplate">
            <input class="btn btn-default btn-lg" type="submit" name="newuser" value="Register">
        </form>        
    </div>
</div>
{% endblock %}