<html>
    <head>
        <title> The Perihelion Group</title>
    </head>
    <body>
        <h1> Welcome Back!</h1>
        Please Log In.
        <br>
        <form action="/login" method="POST">
            Please Enter Your Name:
            <input type="text" default="Name" name="username">
            <br>
            Please Enter Your Password:
            <input type="password" name="password">
            <br>
            <input type="submit" name="submitme" value="Log In">
        </form>
    </body>
</html>