<html>
    <head>
        <title> The Perihelion Group</title>
    <style>

        circle {
          fill: rgb(31, 119, 180);
          fill-opacity: .25;
          stroke: rgb(31, 119, 180);
          stroke-width: 1px;
        }

        .leaf circle {
          fill: #ff7f0e;
          fill-opacity: 1;
        }

        text {
          font: 10px sans-serif;
        }

        </style>
    </head>
    <body>
        <h1> Manage Your Portfolio </h1>
        Here is your portfolio.
        <br>

        <div id="thechart">
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="/static/javascript/colorbrewer.js"></script>

        <script>
        $(document).ready(function(){
        var diameter = 960,
            format = d3.format(",d");

        var pack = d3.layout.pack()
            .size([diameter - 4, diameter - 4])
            .value(function(d) { return d.size; });

        var y = d3.scale.linear()
                .range([0,720]);

        var svg = d3.select("#thechart").append("svg")
            .attr("width", diameter)
            .attr("height", diameter)
          .append("g")
            .attr("transform", "translate(2,2)");

        d3.json("/portfoliojson", function(root) {
          // if (error) throw error;
          debugger;
          var color = d3.scale.linear()
            .range(colorbrewer.Spectral[3])
            .domain([root.min, root.mid, root.max]);
            // debugger;

          var node = svg.datum(root).selectAll(".node")
              .data(pack.nodes)
            .enter().append("g")
              .attr("class", function(d) { return d.children ? "node" : "leaf node"; })
              .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

          node.append("title")
              .text(function(d) { return d.name + (d.children ? "" : ": " + format(d.size)); });

          node.append("circle")
              .attr("r", function(d) { return d.r; })
              .style("fill", function(d) {return color(d.dividend)});

          node.filter(function(d) { return !d.children; }).append("text")
              .attr("dy", ".3em")
              .style("text-anchor", "middle")
              .text(function(d) { return d.name.substring(0, d.r / 3); });
        });

        d3.select(self.frameElement).style("height", diameter + "px");
      });

        </script>


        {% for stock in userstocks %}
        {{stock.ticker_symbol}}
        <br>
        {{stock.company_name}}
        <br>
        {{stock.company_desc}}
        <br>
        {{stock.sector.sector_name}} and {{stock.industry.industry_name}}
        {% endfor %}
    </body>
</html>