<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <title>The Perihelion Group
    </title>

    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <header>
    </header>
    <h1 name="maintitle">Please Make Your Selections
    </h1>
    <h3 name="sectorstitle">Sectors
    </h3>
    <form name="stockselector" class="form" type="dropdown" method="POST">
      <select name ="sectors">
        <option>Sector 1</option>
        <option>Sector 2</option>
        <option>Sector 3</option>
        <option>Sector 4</option>
      </select>
    <h3 name="industrytitle">Industries
    </h3>
      <select name="industries">
        <option>Industry 1</option>
        <option>Industry 2</option>
        <option>Industry 3</option>
        <option>Industry 4</option>
      </select>
    <h3 name="companytitle">Companies
    </h3>
      <select name="companies">
        <option>Company 1</option>
        <option>Company 2</option>
        <option>Company 3</option>
        <option>Company 4</option>
        <option>Company 5</option>
      </select>
    <br>
    <input type="submit" name="submitme" value="Place Your Bets">
    </form>    
       <script src="javascript/scripts.js">
    </script>
  </body>
  <footer>
  </footer>
</html>